<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  {# Use ISO 8601 datetimes. Prefer page.date when available, else fallback to site.buildDate #}
  "dateCreated": "{{ gitDates.get('src/about.md') or site.buildDate }}",
  "dateModified": "{% if page.date and page.date != 'Last Modified' %}{{ page.date | isoDate }}{% else %}{{ site.buildDate }}{% endif %}",
  "mainEntity": {
      "@type": "Person",
      "name": "{{ site.author }}",
      "alternateName": "The Kinky Coder",
      "url": "{{ site.url }}",
      "image": "{{ site.url }}{{ site.defaultImage }}",
      "description": "{{ site.description }}",
      "sameAs": [
        "https://twitter.com/{{ site.twitterHandle | replace('@', '') }}",
        "https://bsky.app/profile/{{ site.blueskyHandle }}"
      ],
      "knowsAbout": [
        "Software Development",
        "Web Development",
        "11ty"
      ]
  }
}
</script>