---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set latestPost = collections.posts | reverse | first %}
{% set sortedPosts = collections.posts | sort(attribute='date', reverse=true) %}

{%- if latestPost %}
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ latestPost.data.date.toISOString() }}</lastmod>
    <priority>1.0</priority>
  </url>
{%- endif %}

{%- for post in sortedPosts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.data.date.toISOString() }}</lastmod>
    <priority>0.8</priority>
  </url>
{%- endfor %}

{%- for page in collections.all %}
  {%- if page.url and page.url != '/' and (not page.data.tags or 'post' not in page.data.tags) and not page.data.draft %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <priority>0.5</priority>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>